[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
autoflake = "*"
coverage-badge = "*"
flake8 = "*"
isort = {extras = ["pipfile"],version = "*"}
pytest-django = "*"
pytest-cov = "*"
pytest-factoryboy = "*"

[packages]
django = "==2.2.12"
django-configurations = {extras = ["cache", "database", "email", "search"],version = "*"}
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
